/* frontend/src/index.css (기본 상태) */
html {
  /* 기본 폰트 크기를 112.5%로 설정 (브라우저 기본값 16px * 1.125 = 18px) */
  /* 이 비율을 조절해서 전체적인 크기를 바꿀 수 있습니다. 125% = 20px */
  font-size: 112.5%;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
.description {
  white-space: pre-line;
  font-size: 15px;
  color: #444;
  line-height: 1.6;
}
